<div class="main-container">
  <form clrForm>
    <input clrInput placeholder="My input" name="input" [(ngModel)]="movieSearch" placeholder="search for a movie ..."
      autofocus>
      <button (click)="getMovies()" class="btn btn-outline">Search movie</button>
    </form>
    <div class="content-container">
      
    <div class="clr-row">
      <div class=" clr-col-sm-12 clr-col-md-4" *ngFor="let movie of movies?.results">
          <!-- <pre>{{movie | json }}</pre> -->
        <p>{{movie.title}}</p>
        <p>{{movie.release_date | date: 'mediumDate'}}</p>
        <p><img [src]="posterPathURL + movie.poster_path"></p>
      </div>
    </div>
  </div>
</div>