
<div style="text-align: center; padding-top: 10px">
  <input [(ngModel)]="movieSearch" placeholder="search for a movie ..."/>
  <button (click)="getMovies()">Search movie</button>
</div>
<div class="main-container">
  <div class="clr-row" *ngFor="let result of movies.results">
    <div class="clr-col">
        <span>{{result.title}}</span>
    </div>
    <div class="clr-col">
        <span>{{result.release_date | date: 'mediumDate'}}</span>
    </div>
    <div class="clr-col">
        <span> <img [src]= "posterPathURL + result.poster_path "></span>
    </div>
  </div>
</div>
<!-- 
<div *ngFor="let result of movies.results" style="text-align: center">
 <h4>{{result.title}}</h4>
 <h4>{{result.release_date | date: 'mediumDate'}}</h4>
 <h4>{{result.popularity}}</h4>
 <img [src]="'http://image.tmdb.org/t/p/w92' + result.poster_path">
</div> -->