<router-outlet></router-outlet>   
<div class="main-container">
  <form clrForm class="flex-wrapper">
    <div class="center" >
    <input clrInput placeholder="My input" name="input" [(ngModel)]="movieSearch" placeholder="search for a movie ..."
      autofocus>
    </div>
    <div class="center" >
      <button (click)="getMovies()" class="btn btn-outline" style="margin: 0;">Search movie</button>
     </div>
    </form>
    
    <div class="content-container">
    <div class="clr-row">
      <div class=" clr-col-sm-12 clr-col-md-4" *ngFor="let movie of movies?.results">
        <p>{{movie.title}}</p>
        <p>{{movie.release_date | date: 'mediumDate'}}</p>
        <p><img [src]="posterPathURL + movie.poster_path"></p>
        <p> <clr-icon shape="heart"></clr-icon><button (click)="addFavMovie()" class="btn btn-outline" style="margin: 0;">Add as favorite</button></p>
      </div>
      
    </div>
  </div>
</div>